<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mm.com.blueplanet.bocc">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE">l</uses-permission>

    <application
        android:name=".BOCCApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_content_center2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_content_center2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppSplashScreen.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.CallCenterDetailActivity"
            android:label="@string/title_activity_hot_line_detail"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mm.com.blueplanet.bocc.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.FortuneDetailActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mm.com.blueplanet.bocc.activity.HomeActivity" />
        </activity>
        <activity android:name=".AppSplashScreen.AppIntro"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.DetailHotline"
            android:label="Detail Call Center Hotline"></activity>
        <activity android:name=".activity.DetailEmergecny"
            android:label="Detail Emergency Hotline"></activity>
        <activity android:name=".activity.DetailGov"
            android:label="Detail Goverment Hotline"></activity>

    </application>

</manifest>